body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-text {
  margin-top: 17px;
  color: #606080;
  font-size: 17px;
  font-weight: 500;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.tag-card {
  padding: 10px 20px 0 20px;
  color: #806a78;
}

.tourName {
  margin: 0 0 0 4px;
  color: #f48fb1;
  font-size: 18px;
  font-weight: 500;
}

.tagErrMsg {
  margin-top: 5px;
  color: #f93154;
  font-size: 14px;
  text-align: left;
}

h4 {
  overflow: hidden;
  text-align: center;
}

h4:before,
h4:after {
  content: '';
  position: relative;
  background-color: #000;
  display: inline-block;
  width: 50%;
  height: 1px;
  vertical-align: middle;
}

h4:before {
  right: 0.5em;
  margin-left: -50%;
}

h4:after {
  left: 0.5rem;
  margin-right: -50%;
}

.notification {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 50px;
  right: 0;
  width: 300px;
  padding: 10px;
  border: 1px solid;
  background-color: white;
  color: black;
  z-index: 1;
  cursor: pointer;
}

.notification-content + * {
  padding-top: 5px;
  border-top: 1px solid #ccc;
}
