body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-text {
  margin-top: 7px;
  color: #606080;
  font-size: 17px;
  font-weight: 500;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.tag-card {
  margin: 10px 0 0 20px;
  color: #806a78;
}

.tourName {
  margin: 0 0 0 4px;
  color: '#f48fb1';
  font-size: 18px;
  font-weight: 500;
}
